@model IEnumerable<MedicalInformationShare.Models.Medicine>

@{
    ViewBag.Title = "Index";
}
<div class="center-side">
   
    <p class="top-para">
        @Html.ActionLink("Create New", "Create", "Medicine", null, new { @class = "btn btn-primary createbtn" })
    </p>
    <div style="padding: 20px;">
        <table class="table table-bordered table-striped table-hover" id="medicine">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Measurement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                </th>
                
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Measurement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company)
                        </td>
                        
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                            <a href="~/Medicine/Delete/@item.Id" onclick="return confirm('Are you sure you want to Delete?');">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
@section scripts{

    <script>

        $(document).ready(function () {
            $('#medicine').DataTable();

        });

    </script>
}