@using MedicalInformationShare.Models


@{
    ViewBag.Title = "SearchDoctor";
}

<div class="row scrchk">
    <div class="col-md-12">
        <div class="left-side">
            <h5 class="search-head"><i class="fas fa-briefcase-medical icnmar"></i>Doctor</h5>
            <div class="dvtable">
                <table class="table table-bordered table-striped table-hover" id="bloodbank" style="width: 31em;">
                    <thead>
                        <tr>
                            <th>Serial No</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Image</th>
                            <th>Hospital</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Email</th>

                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        @{
                            int ii = 1;
                            foreach (HospitalElementView h in Model)
                            {
                                <tr>
                                    <td>@ii</td>
                                    <td>@h.Doctor.Name</td>
                                    <td>@h.Doctor.Designation</td>
                                    <td>
                                        <img style="height: 6em; width: 6em;" src="~/@h.Doctor.Image"/>
                                    </td>
                                    <td>@h.Hospital.Name</td>
                                    <td>@h.Hospital.Address</td>
                                    <td>@h.Hospital.Phone</td>
                                    <td>@h.Hospital.Email</td>

                                </tr>
                                ii++;
                            }

                        }
                    </tbody>

                </table>
            </div>

            <a class="btn btn-success" style="width: 98%; margin: 12px;" href="~/Primary/Index">GO BACK</a>
        </div>
    </div>

</div>
@section scripts{


    <script>
        AOS.init();
        $(document).ready(function () {
            $('#bloodbank').DataTable();


        });

    </script>

}